* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.barra-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    background-color: #f4f4f4;
    /* justify-content: center; */
}

.barra-nav img {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 50px;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 15px;
}

.opcao {
    padding: 40px;
}

.opcao a {
    font-size: 18px;
    color: black;
}

.inicio {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    height: 536px;
    background-color: #E8306B;
}

.bem-vindo {
    padding-top: 200px;
    font-size: 64px;
    color: white;
}

.quem-somos {
    background: url("../IMG/backgroud-quem-somos.JPG");
    margin: auto;
    background-position: center;
    height: 690px;
}

.titulo-quem-somos, .texto-quem-somos {
    border: solid 1px red;
    width: 1200px;
    font-size: 40px;
    color: #ffff;
}

.texto-quem-somos {
    font-weight: 400;
}

.objetivo {
    background-color: #ffff;
    height: 840px;
}

.objetivo img {
    width: 500px;
}

.footer {
    background-color: #FF285C;
    height: 374px;
    display: flex;
    justify-content: space-around;
}

.saiba-mais {
    /* display: flex; */
    height: 470px;   
}

.lista-mais {
    display: inline;
    
}

.mais-opcao {
    border: solid 1px red;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
}
.footer img {
    width: 247.5px;
    height: 150px;
    
}

.endereco {
    align-items: center;
    text-align: center;
    
    font-size: 28px;
    color: #fff;
}

.logo img {
    height: 30px;
    width: 30px;
}
.logo {
    margin: 5px;
}
